.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 210rem;
  width: 500rem;
  border-radius: 25rem;
  background-color: white;
}
.title {
  margin-top: 20rem;
  font-size: 32rem;
  font-weight: bold;
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
  margin-top: 38rem;
}
.action {
  height: 60rem;
  width: 150rem;
  margin: 10rem;
  border-radius: 20rem;
  border: none;
  font-size: 30rem;
}
.confirm {
  background-color: #fcbf49;
}
